<%- include('partials/_header') -%>


<body>

  <!-- Navigation -->
  <%- include('partials/_navigation') -%>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Man must explore, and this is exploration at its greatest</h1>
            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto">
          <p class="font-weight-bold text-center"><%= blog.title %></p>
          <p class="font-weight-normal"><%= blog.detail %></p>
          <div class="col-md-8 float-left">
          <p class="font-weight-lighter"><%= blog.dateCreated %></p>   </div>
          <div class="col-md-4 float-right pt-2">
          <a href="/blogs/<%= blog._id %>?_method=DELETE" onclick="return confirm('ARE YOU SURE')" class="btn btn-danger">Delete</a>   
          <a href="/blogs/edit/<%= blog._id %>" class="btn btn-success">Update</a> 
        </div>  
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer') -%>


</body>

</html>
